.App {
  text-align: center;
  background-color: rgb(42, 171, 226);
  width: 100vw;
  height: 100vh;
  color: white;
  font-weight: bolder;
}

.App-header {
  background-color: rgb(42, 171, 226);
  width: 100vw;
  height: 100px;
  color: white;
  font-weight: bold;
  font-size: xx-large;
  text-align: left;
}