.App {
  text-align: center;
  background-color: rgb(42, 171, 226);
  width: 100vw;
  height: 500px;
  color: white;
  font-weight: bold;
  font-size: xx-large;
}

.App-header {
  background-color: rgb(42, 171, 226);
  width: 100vw;
  height: 100px;
  color: white;
  font-weight: bold;
  text-align: left;
  background-repeat: no-repeat;
}

#pass {
  margin: 10px;
  /* color: rgb(42, 171, 226); */
}

#name {
  margin: 10px;
  /* color: rgb(42, 171, 226); */
}

button {
  margin: 10px;
  color: rgb(42, 171, 226);
  font-weight: bold;
  background-color: white;
}

/* .Login {
  display: flex;
  flex-direction: row;
} */